{% extends 'base.html.twig' %}

{% block title %}{{ exercise.name }}{% endblock %}

{% block body %}
<style lang="windi">
.markdown-body, .nav {
    min-width: 200px;
    max-width: 980px;
    margin: 32px auto;
}

.nav a:hover {
    text-decoration: underline;
}
</style>

<div class="nav">
    <a href="{{ path('course-exercises', { course: course.slug }) }}" class="text-black">
        <i class="fas fa-arrow-left mr-1"></i>
        <span>Retour</span>
    </a>
</div>
<div class="markdown-body" data>
    {% apply markdown_to_html %}
    {{ exercise.content | raw }}
    {% endapply %}
</div>
<script src="https://cdn.jsdelivr.net/gh/arnav-kr/Shikijs/dist/V1.2.1/shikiHighlighter.min.js"></script>
<script>
const codeElements = document.querySelectorAll('code[class^=language-]');
[...codeElements].forEach(element => {
    const lang = [...element.classList.values()].find(className => className.startsWith('language-'));
    element.setAttribute('data-language', lang.match(/^language-(.+)/)[1]);
    element.setAttribute('data-theme', 'github-light');
    Shiki.highlight(element);
});

</script>
{% endblock %}
