{% extends 'base.html.twig' %}

{% block title %}{{ exercise.name }}{% endblock %}

{% block body %}
<style lang="windi">
.markdown-body, .nav {
    min-width: 200px;
    max-width: 980px;
    margin: 32px auto;
}

.nav a:hover {
    text-decoration: underline;
}

pre.shiki {
    background-color: #f6f8fa !important;
}
</style>

<div class="nav">
    <a href="{{ path('course-exercises', { course: course.slug }) }}" class="text-black">
        <i class="fas fa-arrow-left mr-1"></i>
        <span>Retour</span>
    </a>
</div>
<div class="markdown-body">
    {{ content | raw }}
</div>
{% endblock %}
